*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 8rem 1fr;
}

.header {
  background-color: black;
  grid-column: 1/-1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4rem;
  font-size: 1.5rem;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 2/-1;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar__form {
  background-color: #a7c4e3;
  padding: 1rem;
  padding-top: 4rem;
  font-size: 2rem;
  margin-top: 5rem;
  margin-left: 2rem;
  border-radius: 10%;
  text-align: center;
  box-shadow: 0.25rem 0.25rem 0.5rem lightgrey;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.sidebar__form + .winners {
  background-color: rgb(180, 139, 184);
}
.sidebar__form + .genre {
  background-color: rgb(143, 184, 139);
}
.sidebar__form--select {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.25rem;
  text-align: center;
  border: none;
  background-color: inherit;
  color: white;
  font-size: 1.5rem;
  white-space: pre-wrap;
  cursor: pointer;
}

.results {
  grid-row: 2/-1;
  grid-column: 2/-1;
}
.results__title {
  font-size: 2.5rem;
}
.results__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5vh;
  padding: 5vh;
}
.results__title {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.results__album {
  width: 18vw;
  transition: transform 0.75s;
  backface-visibility: hidden;
}
.results__album--primary-container {
  width: 100%;
}
.results__album--img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  box-shadow: 0.5rem 0.5rem 0.5rem lightgrey;
}
.results__album--text {
  padding: 1rem;
  font-size: 1.6rem;
}
.results__album--text .title {
  font-style: italic;
}
.results__album--extra-info {
  display: none;
  opacity: 0;
  transition: all 3s;
}
.results__album--extra-info td {
  padding: 1.5rem 1.5rem;
}
.results__album--extra-info .description {
  padding: 1rem;
}
.results__album--extra-info .winner {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  gap: 0.5rem;
  animation: expand 2s 3;
  animation-delay: 1s;
}
.results__album:hover {
  transform: translateY(-0.5rem);
}
.results__album .trophy {
  height: 2.5rem;
  width: 3.5rem;
}
.results__album.selected {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  order: -1;
}
.results__album.selected .info--close {
  position: absolute;
  top: -2rem;
  right: 2rem;
  font-size: 4.5rem;
  color: #b8b4b4;
  transition: all 1s;
}
.results__album.selected .info--close:hover {
  color: #4e4c4c;
  cursor: pointer;
}
.results__album.selected .results__album--primary-container {
  width: 50%;
  padding: 0 10%;
}
.results__album.selected .results__album--img {
  height: 28vw;
  width: 28vw;
  transition: all 3s;
}
.results__album.selected .results__album--text {
  font-size: 2rem;
  padding: 1.5rem 1rem;
}
.results__album.selected .results__album--extra-info {
  width: 50%;
  padding-right: 4rem;
  display: inline-block;
  font-size: 1.6rem;
  animation: FadeInLeft 3s;
  animation-fill-mode: forwards;
}
.results__album.selected .results__album--extra-info .table--title {
  font-weight: 150;
  font-size: 1.8rem;
}

@keyframes FadeInLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes firework {
  0% {
    transform: translate(-50%, 60vh);
    width: 0.5vmin;
    opacity: 1;
  }
  50% {
    width: 0.5vmin;
    opacity: 1;
  }
  100% {
    width: 45vmin;
    opacity: 0;
  }
}
.firework-1 {
  content: "";
  position: absolute;
  opacity: 0;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 0.5vmin;
  aspect-ratio: 1;
  background: radial-gradient(circle, rgb(72, 0, 255) 0.2vmin, rgba(0, 0, 0, 0) 0) 50% 0%, radial-gradient(circle, rgb(72, 0, 225) 0.5vmin, rgba(0, 0, 0, 0) 0) 50% 99%, radial-gradient(circle, rgb(72, 0, 225) 0.3vmin, rgba(0, 0, 0, 0) 0) 0% 50%, radial-gradient(circle, rgb(72, 0, 225) 0.2vmin, rgba(0, 0, 0, 0) 0) 99% 50%, radial-gradient(circle, rgb(72, 0, 225) 0.3vmin, rgba(0, 0, 0, 0) 0) 80% 90%, radial-gradient(circle, rgb(72, 0, 225) 0.5vmin, rgba(0, 0, 0, 0) 0) 95% 90%, radial-gradient(circle, rgb(72, 0, 225) 0.5vmin, rgba(0, 0, 0, 0) 0) 10% 60%, radial-gradient(circle, rgb(72, 0, 225) 0.2vmin, rgba(0, 0, 0, 0) 0) 31% 80%, radial-gradient(circle, rgb(72, 0, 225) 0.3vmin, rgba(0, 0, 0, 0) 0) 80% 10%, radial-gradient(circle, rgb(72, 0, 225) 0.2vmin, rgba(0, 0, 0, 0) 0) 90% 23%, radial-gradient(circle, rgb(72, 0, 225) 0.3vmin, rgba(0, 0, 0, 0) 0) 45% 20%, radial-gradient(circle, rgb(72, 0, 225) 0.5vmin, rgba(0, 0, 0, 0) 0) 13% 24%;
  background-size: 0.5vmin 0.5vmin;
  background-repeat: no-repeat;
  animation: firework 2s 3;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.firework-2 {
  --top: 60vh;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5vmin;
  aspect-ratio: 1;
  background: radial-gradient(circle, rgb(255, 38, 0) 0.2vmin, rgba(0, 0, 0, 0) 0) 50% 0%, radial-gradient(circle, rgb(172, 27, 2) 0.5vmin, rgba(0, 0, 0, 0) 0) 50% 99%, radial-gradient(circle, rgb(172, 27, 2) 0.3vmin, rgba(0, 0, 0, 0) 0) 0% 50%, radial-gradient(circle, rgb(172, 27, 2) 0.2vmin, rgba(0, 0, 0, 0) 0) 99% 50%, radial-gradient(circle, rgb(172, 27, 2) 0.3vmin, rgba(0, 0, 0, 0) 0) 80% 90%, radial-gradient(circle, rgb(172, 27, 2) 0.5vmin, rgba(0, 0, 0, 0) 0) 95% 90%, radial-gradient(circle, rgb(172, 27, 2) 0.5vmin, rgba(0, 0, 0, 0) 0) 10% 60%, radial-gradient(circle, rgb(172, 27, 2) 0.2vmin, rgba(0, 0, 0, 0) 0) 31% 80%, radial-gradient(circle, rgb(172, 27, 2) 0.3vmin, rgba(0, 0, 0, 0) 0) 80% 10%, radial-gradient(circle, rgb(172, 27, 2) 0.2vmin, rgba(0, 0, 0, 0) 0) 90% 23%, radial-gradient(circle, rgb(172, 27, 2) 0.3vmin, rgba(0, 0, 0, 0) 0) 45% 20%, radial-gradient(circle, rgb(172, 27, 2) 0.5vmin, rgba(0, 0, 0, 0) 0) 13% 24%;
  background-size: 0.5vmin 0.5vmin;
  background-repeat: no-repeat;
  animation: firework 2s 3;
  animation-fill-mode: forwards;
}

.firework-3 {
  --top: 60vh;
  content: "";
  position: absolute;
  top: 65%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 0.5vmin;
  aspect-ratio: 1;
  background: radial-gradient(circle, rgb(255, 0, 221) 0.2vmin, rgba(0, 0, 0, 0) 0) 50% 0%, radial-gradient(circle, rgb(255, 0, 221) 0.5vmin, rgba(0, 0, 0, 0) 0) 50% 99%, radial-gradient(circle, rgb(255, 0, 221) 0.3vmin, rgba(0, 0, 0, 0) 0) 0% 50%, radial-gradient(circle, rgb(255, 0, 221) 0.2vmin, rgba(0, 0, 0, 0) 0) 99% 50%, radial-gradient(circle, rgb(255, 0, 221) 0.3vmin, rgba(0, 0, 0, 0) 0) 80% 90%, radial-gradient(circle, rgb(255, 0, 221) 0.5vmin, rgba(0, 0, 0, 0) 0) 95% 90%, radial-gradient(circle, rgb(255, 0, 221) 0.5vmin, rgba(0, 0, 0, 0) 0) 10% 60%, radial-gradient(circle, rgb(255, 0, 221) 0.2vmin, rgba(0, 0, 0, 0) 0) 31% 80%, radial-gradient(circle, rgb(255, 0, 221) 0.3vmin, rgba(0, 0, 0, 0) 0) 80% 10%, radial-gradient(circle, rgb(255, 0, 221) 0.2vmin, rgba(0, 0, 0, 0) 0) 90% 23%, radial-gradient(circle, rgb(255, 0, 221) 0.3vmin, rgba(0, 0, 0, 0) 0) 45% 20%, radial-gradient(circle, rgb(255, 0, 221) 0.5vmin, rgba(0, 0, 0, 0) 0) 13% 24%;
  background-size: 0.5vmin 0.5vmin;
  background-repeat: no-repeat;
  animation: firework 2s 3;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

/*# sourceMappingURL=App.css.map */
